<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Input</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('https://asset.kompas.com/crops/gWUraP6XxlVUz24osCeF7Mvsdgg=/0x0:3000x2000/1200x800/data/photo/2022/01/25/61ef53df155b4.jpg') no-repeat center center fixed;
            background-size: cover;
            opacity: 0.3;
            z-index: -1;
        }
    </style>
</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-3xl">
        <h1 class="text-2xl font-bold text-black text-center">Bank Product Recommendation System</h1>
        <br>
        <h1 class="text-2xl font-bold text-gray-700 mb-6 text-center">Enter Data for Prediction</h1>
        <form action="/" method="post" class="space-y-4">

            <div>
                <label for="eligible" class="block text-gray-700 font-bold mb-2">Eligible:</label>
                <p class="text-gray-500 text-sm mt-1">Customer's eligibe for the program</p>
                <select id="eligible" name="eligible" required class="block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-200">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>

            <div>
                <label for="job" class="block text-gray-700 font-bold mb-2">Job:</label>
                <p class="text-gray-500 text-sm mt-1">Customer's job</p>
                <select id="job" name="job" required class="block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-200">
                    <option value="1">Blue-Collar</option>
                    <option value="2">Entrepreneur</option>
                    <option value="3">Housemaid</option>
                    <option value="4">Management</option>
                    <option value="5">Retired</option>
                    <option value="6">Self-Employed</option>
                    <option value="7">Services</option>
                    <option value="8">Student</option>
                    <option value="9">Technician</option>
                    <option value="10">Unemployed</option>
                    <option value="11">Other</option>
                </select>
            </div>

            <div>
                <label for="salary" class="block text-gray-700 font-bold mb-2">Salary per Year:</label>
                <p class="text-gray-500 text-sm mt-1">Customer's salary</p>
                <input type="number" id="salary" name="salary" required class="block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-200">
            </div>

            <div>
                <label for="targeted" class="block text-gray-700 font-bold mb-2">Targeted:</label>
                <p class="text-gray-500 text-sm mt-1">Customer's targeted by the program</p>
                <select id="targeted" name="targeted" required class="block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-200">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>

            <div>
                <label for="balance" class="block text-gray-700 font-bold mb-2">Balance:</label>
                <p class="text-gray-500 text-sm mt-1">Customer's balance now</p>
                <input type="number" id="balance" name="balance" required class="block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-200">
            </div>

            <div>
                <label for="housing" class="block text-gray-700 font-bold mb-2">Housing:</label>
                <p class="text-gray-500 text-sm mt-1"> Customer's housing loan </p>
                <select id="housing" name="housing" required class="block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-200">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>

            <div>
                <label for="loan" class="block text-gray-700 font-bold mb-2">Loan:</label>
                <p class="text-gray-500 text-sm mt-1">Customer's Prior Loan</p>
                <select id="loan" name="loan" required class="block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-200">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>

            <div>
                <label for="day" class="block text-gray-700 font-bold mb-2">Day:</label>
                <p class="text-gray-500 text-sm mt-1">Customer's last contacted in day of the month</p>
                <input type="number" id="day" name="day" required class="block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-200">
            </div>

            <div>
                <label for="duration" class="block text-gray-700 font-bold mb-2">Duration:</label>
                <p class="text-gray-500 text-sm mt-1">Customer's duration of the contact</p>
                <input type="number" id="duration" name="duration" required class="block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-200">
            </div>

            <div>
                <label for="campaign" class="block text-gray-700 font-bold mb-2">Campaign:</label>
                <p class="text-gray-500 text-sm mt-1">Number of customer's contacted by the bank for this program</p>
                <input type="number" id="campaign" name="campaign" required class="block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-200">
            </div>

            <div>
                <label for="pdays" class="block text-gray-700 font-bold mb-2">Pdays (-1, 182, 91, 92, 183):</label>
                <p class="text-gray-500 text-sm mt-1">Number of days customer's contacted from previous program</p>
                <input type="number" id="pdays" name="pdays" required class="block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-200">
            </div>

            <div>
                <label for="previous" class="block text-gray-700 font-bold mb-2">Previous:</label>
                <p class="text-gray-500 text-sm mt-1">Number of customer's contacted by the bank for previous program</p>
                <input type="number" id="previous" name="previous" required class="block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-200">
            </div>

            <div>
                <label for="marital_status" class="block text-gray-700 font-bold mb-2">Marital Status:</label>
                <p class="text-gray-500 text-sm mt-1">Customer's marital status</p>
                <select id="marital_status" name="marital_status" required class="block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-200">
                    <option value="married">Married</option>
                    <option value="single">Single</option>
                </select>
            </div>
            <input type="hidden" id="marital_married" name="marital_married" value="1.0">
            <input type="hidden" id="marital_single" name="marital_single" value="0.0">

            <div>
                <label for="education" class="block text-gray-700 font-bold mb-2">Education:</label>
                <p class="text-gray-500 text-sm mt-1">Customer's latest education</p>
                <select id="education" name="education" required class="block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-200">
                    <option value="primary">Primary</option>
                    <option value="secondary">Secondary</option>
                    <option value="tertiary">Tertiary</option>
                </select>
            </div>
            <input type="hidden" id="education_primary" name="education_primary" value="1.0">
            <input type="hidden" id="education_secondary" name="education_secondary" value="0.0">
            <input type="hidden" id="education_tertiary" name="education_tertiary" value="0.0">

            <div>
                <label for="contact" class="block text-gray-700 font-bold mb-2">Contact:</label>
                <p class="text-gray-500 text-sm mt-1">Bank methods to contact Customer's</p>
                <select id="contact" name="contact" required class="block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-200">
                    <option value="cellular">Cellular</option>
                    <option value="unknown">Other</option>
                </select>
            </div>
            <input type="hidden" id="contact_cellular" name="contact_cellular" value="1.0">
            <input type="hidden" id="contact_unknown" name="contact_unknown" value="0.0">

            <div>
                <label for="poutcome" class="block text-gray-700 font-bold mb-2">Poutcome:</label>
                <p class="text-gray-500 text-sm mt-1">Outcome of the previous marketing campaign</p>
                <select id="poutcome" name="poutcome" required class="block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-200">
                    <option value="success">Success</option>
                    <option value="other">Other</option>
                    <option value="unknown">Unknown</option>
                </select>
            </div>
            <input type="hidden" id="poutcome_success" name="poutcome_success" value="1.0">
            <input type="hidden" id="poutcome_other" name="poutcome_other" value="0.0">
            <input type="hidden" id="poutcome_unknown" name="poutcome_unknown" value="0.0">

            <div class="text-center">
                <input type="submit" value="Predict" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md">
            </div>

        </form>
    </div>
    <script src="script.js"></script>
</body>
</html>




